@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Data test application</h1>
    <b>Cadena Conexion Planilla:</b> @ViewData["strPlanillaCnx"]<br />
    <b>Api Facebook Key:</b> @ViewData["FaceApi"]<br />
    <b>Api Azure Key:</b> @ViewData["AzureApi"]<br />
</div>